<html>
    <head>
        <title>anonMSG</title>
        <link rel="stylesheet" type="text/css" href="home.css"/>
    </head>

    <body>

        <div>
            <div id="page-title">
                <h1> Anon.msg</h1>
            </div>
            
            <div id= "main-content"> 

                

                <div id="description">
                    <h2 id="main-title"> What is this? </h2>
                    <p>Anon.msg is a anonymous message system built on html, javascript, css, nodeJS and socket.io</p>
                    <p>With anon msg you can meet people and chat with them</p>
                </div>

                <div id="start-button">
                    <h2>Start Now!</h2>
                    <p>Start now and feel the real chat experience</p>
                    <form method="get" action="/chat">
                        <button id="button" type="submit">Start</button>
                    </form>
                </div>

            </div>
            
            <div id="footer">
                <h3 id="footer-title">Contact us</h3>
                
                <div id="contact">
                    <p>Github: @unwxnted</p>
                    <p>Discord: weakness#0054</p>
                </div>
                
            </div>
        </div>
        
    </body>

</html>